# =========================
# Go build output
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# binary (네가 만든 실행파일)
mycontainer
container-runtime
mini-container


# =========================
# config (개인 실행 설정)
# =========================
config.json

# =========================
# root filesystem (용량 큼)
# =========================
busybox-rootfs/

# =========================
# Editor / OS files
# =========================
*.swp
*.swo
*~
.vscode/
.idea/
.DS_Store
.codex/
.venv-onnx-export/
.venv-build-tools/
third_party/onnxruntime/
build/


# =========================
# Logs / temp
# =========================
*.log
tmp/
